.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-top: 60px;
  align-items: center;
}

.hero img {
  width: 100%;
}

.hero-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
}